fastapi
uvicorn[standard]
sentence-transformers
transformers
torch
pydantic
python-multipart
pymilvus
langchain
langchain-openai
langchain-milvus
langchain_community
streamlit
langchain-groq
pypdf-6.1.1


